<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">




<div class="card mt-4 w-60">
  <div class="card-body wow-bg" id="formBg">
    <h1 class="text-light text-center"><%= @quiz.title %></h1>
    <p class="text-light"><strong>Descripción:</strong> <%= @quiz.description %></p>
  </div>
</div>

<hr class="sin-color">

<% @quiz.questions.each do |question| %>
  <div class="card mt-4 w-50">
    <div class="card-body wow-bg text-light" id="formBg">
      <p><%= question.question %></p>
      <ul>
        <% question.answers.each do |answer| %>
          <li><%= answer %></li>
        <% end %>
      </ul>

      <div class="d-flex align-items-center justify-content-end">
        <%= image_tag("logo_openai.png", width: 40, class: "mr-2") %>
        <h6 style="color:#2c5f5f" class="mb-0">Generado por OpenAI</h6>
      </div>
    </div>
  </div>
  <hr class="sin-color">
<% end %>

<hr class="sin-color">
