<%# app/views/quizzes/show.html.erb %>
<h1><%= @quiz.title %></h1>
<p><strong>Descripción:</strong> <%= @quiz.description %></p>


<h2>Contenido Generado:</h2>
<%= @generated_content.split("\n").split("")[1][0] %>
<%= @generated_content.split("\n").split("")[1][1] %>
<%= @generated_content.split("\n").split("")[1][2] %>
<%= @generated_content.split("\n").split("")[1][3] %>

<%= @generated_content.split("\n").split("")[2][0] %>
<%= @generated_content.split("\n").split("")[2][1] %>
<%= @generated_content.split("\n").split("")[2][2] %>
<%= @generated_content.split("\n").split("")[2][3] %>


<%= @generated_content.split("\n").split("")[3][0] %>
<%= @generated_content.split("\n").split("")[3][1] %>
<%= @generated_content.split("\n").split("")[3][2] %>
<%= @generated_content.split("\n").split("")[3][3] %>

<%= @generated_content.split("\n").split("")[4][0] %>
<%= @generated_content.split("\n").split("")[4][1] %>
<%= @generated_content.split("\n").split("")[4][2] %>
<%= @generated_content.split("\n").split("")[4][3] %>


<%= @generated_content.split("\n").split("")[5][0] %>
<%= @generated_content.split("\n").split("")[5][1] %>
<%= @generated_content.split("\n").split("")[5][2] %>
<%= @generated_content.split("\n").split("")[5][3] %>




 <%# "Pregunta 1: ¿En qué siglo ocurrió la Revolución Industrial?\na) Siglo XVIII\nb) Siglo XIX\nc) Siglo XX\nR: a) Siglo XVIII\n\nPregunta 2: ¿Cuál fue una de las principales consecuencias de la Revolución Industrial?\na) Aumento de la agricultura tradicional\nb) Disminución de la producción en fábricas\nc) Desarrollo de nuevas máquinas y tecnologías\nR: c) Desarrollo de nuevas máquinas y tecnologías\n\nPregunta 3: ¿Qué industria experimentó el mayor crecimiento durante la Revolución Industrial?\na) Industria textil\nb) Industria alimentaria\nc) Industria automotriz\nR: a) Industria textil" %>
