<!-- app/views/subjects/new.html.erb -->
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">


<div class="container mt-4">
  <hr class="sin-color">
  <h1 class="mb-4">Crea una Nueva Materia</h1>
  <hr class="sin-color">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body wow-bg" id="formBg">
          <%= form_with(model: [@institution, @subject], local: true) do |form| %>
            <% if @subject.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@subject.errors.count, "error") %> no se pudo guardar la materia</h2>
                <ul>
                  <% @subject.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-inputs">
              <div class="mb-3" style="color:white;">
                <%= form.label :name, 'Materia', class: 'form-label' %>
                <%= form.text_field :name, class: 'form-control' %>
              </div>

              <div class="mb-3" style="color:white;">
                <%= form.label :teacher, 'Profesor', class: 'form-label' %>
                <%= form.select :teacher_id, options_for_select(@institution.teachers.map { |teacher| [teacher.name, teacher.id] }), {}, class: 'form-select' %>
              </div>
            </div>

            <hr class="sin-color">
          </div>
            </div>
            <hr class="sin-color">

            <div class="form-actions text-center">
              <button type="submit" class="btn btn-outline-light btn-md">Asignar</button>
            </div>
          <% end %>

      <hr class="sin-color mt-4">
      <hr class="sin-color mt-4">
      <hr class="sin-color mt-4">
    </div>
  </div>

  <hr class="sin-color mt-4">
</div>
