  <div class="grid">
    <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
      <!-- Tu contenido SVG aquí -->
    </svg>
    <div class="blur"></div>
  </div>

<div class="container mt-4">
  <h1>Crear un Nuevo Maestro</h1>
  <hr class="sin-color">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body wow-bg" id="formBg">
          <%= form_with model: [@institution, @teacher] do |f| %>
            <div class="form-inputs text-white">
              <div class="mb-3">
                <%= f.label :email, 'Email', class: 'form-label' %>
                <%= f.text_field :email, class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= f.label :password, 'Password', class: 'form-label' %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>

              <div class="mb-3">
                <%= f.label :name, 'Nombre', class: 'form-label' %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
</div>
      </div>
      <hr class="sin-color">
            <div class="form-actions text-center">
              <%= f.submit "Registrar", class:"btn btn-outline-light btn-md" %>
            </div>
          <% end %>

    </div>
  </div>

  <hr class="sin-color mt-4">
</div>
