<%# app/views/take_quizzes/show.html.erb %>
<% if @take_quiz.completed? %>
  <h1>Resultados del Quiz: <%= @take_quiz.quiz.title %></h1>
  <p>
    <strong>Estudiante:</strong>
    <%= @take_quiz.student.name %>
  </p>
  <p>
    <strong>Puntuación:</strong>
    <%= @take_quiz.result %>
  </p>


  <% @take_quiz.quiz.questions.each_with_index do |question, index| %>
    <div class="question">
      <p><%= question.content %></p>
      <p>Respuesta seleccionada:
        <%= @take_quiz.answers.find { |r| r.question_id == question.id }&.content %>
      </p>
      <p>Respuesta correcta: <%= question.answers.find(&:correct?).content %></p>
    </div>
  <% end %>

  <%= link_to 'Volver a los quizzes', quizzes_path %>

<% else %>
  <h1><%= @take_quiz.quiz.title %></h1>
  <p><%= @take_quiz.quiz.description %></p>

  <%# Check if the quiz has started %>
  <% if @take_quiz.started? %>
    <%# Display the current question %>
    <h2><%= @current_question.answer %></h2>

    <%# Form to submit an answer %>
    <%= form_with url: answer_take_quiz_path(@take_quiz), method: :post do |form| %>
      <% @current_question.answers.each do |answer| %>
        <div>
          <%= form.radio_button :answer_id, answer.id %>
          <%= label_tag :answer_id, answer.answer, value: answer.id %>
        </div>
      <% end %>
      <%= form.submit "Responder y siguiente pregunta" %>
    <% end %>

  <% else %>
    <%= link_to 'Empezar Quiz', start_take_quiz_path(@take_quiz), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
